<nav class="vertical-nav">
    <a routerLink="/about" class="nav-item" routerLinkActive="active-link">
        <div class="icon-container">
            <i class="fa fa-info-circle"></i>
        </div>
        <div class="text-container">
            <span class="nav-text">About</span>
        </div>
    </a>
    <a routerLink="/spottings" class="nav-item" routerLinkActive="active-link">
        <div class="icon-container">
            <i class="fa fa-camera"></i>
        </div>
        <div class="text-container">
            <span class="nav-text">Spottings</span>
        </div>
    </a>
    <a routerLink="/contact" class="nav-item" routerLinkActive="active-link">
        <div class="icon-container">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="text-container">
            <span class="nav-text">Contact</span>
        </div>
    </a>
    <a routerLink="/home" class="nav-item" routerLinkActive="active-link">
        <div class="icon-container">
            <i class="fa fa-home"></i>
        </div>
        <div class="text-container">
            <span class="nav-text">Home</span>
        </div>
    </a>
    <a routerLink="/login" class="nav-item" routerLinkActive="active-link">
        <div class="icon-container">
            <i class="fa fa-sign-in-alt"></i>
        </div>
        <div class="text-container">
            <span class="nav-text">Login</span>
        </div>
    </a>
    <a routerLink="/register" class="nav-item" routerLinkActive="active-link">
        <div class="icon-container">
            <i class="fa fa-user-plus"></i>
        </div>
        <div class="text-container">
            <span class="nav-text">Register</span>
        </div>
    </a>
    <!-- New items -->
    <a routerLink="/shop" class="nav-item" routerLinkActive="active-link">
        <div class="icon-container">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="text-container">
            <span class="nav-text">Shop</span>
        </div>
    </a>
    <a routerLink="/search" class="nav-item" routerLinkActive="active-link">
        <div class="icon-container">
            <i class="fa fa-search"></i>
        </div>
        <div class="text-container">
            <span class="nav-text">Search</span>
        </div>
    </a>
    <a routerLink="/personal" class="nav-item" routerLinkActive="active-link">
        <div class="icon-container">
            <i class="fa fa-user"></i>
        </div>
        <div class="text-container">
            <span class="nav-text">Personal</span>
        </div>
    </a>
    <a routerLink="/cart" class="nav-item" routerLinkActive="active-link">
        <div class="icon-container">
            <i class="fa fa-shopping-basket"></i>
        </div>
        <div class="text-container">
            <span class="nav-text">Cart</span>
        </div>
    </a>
</nav>