/* You can add global styles to this file, and also import other style files */

/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sunset-Inspired Color Palette */
:root {
    --background-color: #264653;
    /* Dark blue */
    --primary-color: #e76f51;
    /* Sunset orange */
    --secondary-color: #2a9d8f;
    /* Teal green */
    --light-text-color: #fefae0;
    /* Light beige */
    --sunset-color: #f4a261;
    --light-color: #fefae0;
}

/* Apply background and text colors globally */
body {
    background-color: var(--background-color);
    color: var(--light-text-color);
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/* Style links and other global elements */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}